# Created by https://www.gitignore.io/api/microsoftoffice,jekyll

### Jekyll ###
_site/
.sass-cache/
.jekyll-metadata

### MicrosoftOffice ###
*.tmp

# Word temporary
~$*.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsdx

# End of https://www.gitignore.io/api/microsoftoffice,jekyll
